<!DOCTYPE html>


<html lang="en">
    
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--CSS Link-->
        <link rel="stylesheet" href="{% static 'css/styles.css'%}" />

        <!-- Java Script-->
        <title>Oak Learn</title>

    </head>

    <!--HEADER LAYOUT   -->

    <header> 
        <ul>
            <li > <a href="#">Home</a></li>
            <li> <a href="#">Resources</a></li>
            <li><a href="#"> About</a></li>
            <li><a href="#">Contacts</a> </li>
            <li> <a href="#">Login</a></li>

        </ul>

    </header>

    <body>
        <h1> Oak learn says....</h1>

        <div class="box">
            The greatest achievements was at first and <br />
            for a time a dream. The oak sleeps in the <br />
            acron, the bird waits in the egg, and in the <br/>
            highest vision of the sould a waking angel <br />
            stirs. Dreams are the seedings of realities. <br />
          
            James Allen 
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <a href="/oaklearn/index/">Index</a><br />
            {% load static %}
            <img src="{% static "images/oak tree.jpg" %}" height=800px width=800px class="d-inline-block align-top"
                alt="Picture of Oak Tree" /> <!-- New line -->



                
        </div>
    </body>

</html>



